* {
    overflow-x: hidden;
}
html {
    font-family: sans-serif; 
}

a, a:visited{
    color: rebeccapurple;

}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

input {
    font-family: sans-serif;
}

.party_page_header div{
    display: inline-block;
    text-align: center;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer p {
    justify-content: center;
}

#footer img {
    width: 3rem;
}

#contents {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contents p {
    max-width: 50rem;
}

.button {
    overflow: visible;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.button div {
    display: inline;
    margin: 1rem;
}

.button a {
    color: white;
    padding: 2rem;
    margin: 2rem;
    text-decoration: none;
    font-size: x-large;
}

.item_box_cta_login {
    border: 2px solid black;
    border-radius: 7px;
    padding: .6rem;
    padding-top: .8rem;
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px gray);
    background: rebeccapurple;
    color: white;
    font-size: 14px;
    /* margin-top: 1rem; */
}

.item_box_cta_login:hover {
    filter: drop-shadow(4px 4px 4px rebeccapurple);
}



.cta {
    text-align: center;
    width: 10rem;
}

.cta, a.cta:visited {
    border: 2px solid black;
    border-radius: 7px;
    padding: .3rem;
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px gray);
    background: rebeccapurple;
    color: white;
    font-size: 22px;
}

.cta:hover {
    filter: drop-shadow(4px 4px 4px rebeccapurple);
}

.signup_banner {
    color: rebeccapurple;
    font-size: x-large;
    font-weight: bold;
}

.signup_form_containter {
    margin-left: 4rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-color: rebeccapurple;
    padding: 2rem;
    border-radius: 7px;
}

.signup_form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup_form div {
    display: flex;
    flex-direction: row;
    margin: .3rem
}

.signup_form label {
    width: 10rem;
    display: block;
    text-align: left;
    padding: .3rem;
}

.signup_form input {
    width: 20rem;
    border: 2px solid rebeccapurple;
    padding: 0.5rem;
    border-radius: 7px;
}
.signup_form span {
    width: 20rem;
    border: 2px solid rebeccapurple;
    padding: 0.9rem;
    /* margin-top: 0.4rem; */
    border-radius: 7px;
}

#generated_url {
    display: block;
    width: 20rem;
    padding: .3rem;
}

.inputOuterContainer {
    margin-bottom: 4rem;
    margin-left: 4rem;
}

.itemInput span {
    display: inline;
}

.itemInput {
    border-style: solid;
    border-color: rebeccapurple;
    width: 30rem;
    border-radius: 5px;
    padding: 1rem;
}

.itemTextInput {
    border-radius: 5px;
    width: 29rem;
    height: 2rem;
    font-size: 1rem;
}

.inputContainer div {
    padding-bottom: 0.5rem;
    font-weight: bold;
    font-size: large;
    text-decoration-line: underline;
    color: rebeccapurple;
}

.inputContainer textarea {
    width: 29rem;
    height: 3rem;
}

.items_grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.item_box {
    padding-right: 1rem;
    padding-left: 1rem;
    border-style: solid;
    border-width: 7px;
    border-color: rebeccapurple;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin: 1rem;
}

.item_box_form {
    align-self: end;
}

.item_box_name {
    vertical-align: baseline;
    height: 2rem;
    display: flex;
    justify-content:space-between; 
    font-size: 1.5rem;
    border-bottom: solid;
    border-color: rebeccapurple;
    padding-bottom: 0.4rem;
}

.item_box_name span {
    color: rebeccapurple;
    font-weight: bold;
    vertical-align: sub;
}
.item_box_name span:first-child {
    color: black;
}

.item_box_name img {
    height: 1.5rem;
    cursor: pointer;
}

.item_box_info {
    font-size: 1.3rem;
    padding-top: 0.5rem;
}
.item_box_info span {
    font-weight: bold;
    color: rebeccapurple;

}


.item_box_input {
    margin-top: 1rem;
    border-style: solid;
    border-color: rebeccapurple;
    border-radius: 5px;
    padding: 0.5rem;
}

.item_box_grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    font-size: 1rem;
}

.item_box_itemTextInput_name {
    width: 90%;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.item_box_itemTextInput_info {
    width: 96%;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.item_box_cta {
    border: 2px solid black;
    border-radius: 7px;
    padding: .2rem;
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px gray);
    background: rebeccapurple;
    color: white;
    font-size: 14px;
    margin-top: 0.25rem;
}

.item_box_cta:hover {
    filter: drop-shadow(4px 4px 4px rebeccapurple);
}

.deleteImg {
    border-style: solid;
    border-color: rebeccapurple;
    border-radius: 5px;   
    padding-top: 0.3rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;

}

.padding {
    margin-left: 2rem;
    margin-bottom: 4rem;
    height: 12rem;
    color: rebeccapurple;
}

/* .padding div {
    color: rebeccapurple;
    font-size: x-large;
    margin-bottom: 1rem;
} */
/* .padding label {
    font-size: large;
    color: rebeccapurple;
}
.padding input {
    color: rebeccapurple;
    padding: 0.5rem;
}  */

#password_label {
    font-size: large;
    color: rebeccapurple;
    width: auto;
    /* display: block; */
    text-align: left;
    padding: .3rem;
    vertical-align: text-bottom;
}
.password_form {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: rebeccapurple;
    border-radius: 10px;
    padding: 2rem;
}

.password_form div {
    display: flex;
    flex-direction: row;
    margin: 0.2rem;
}
.password_form div:first-child {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    margin-bottom: 0.5rem;
    /* margin: .1rem */
}

.password_form label {
    width: 10rem;
    display: block;
    text-align: left;
    padding: .3rem;
}

.password_form input {
    width: 20rem;
    border: 2px solid black;
    border-radius: 7px;
}
.password_form div {
    padding-bottom: 1rem;
}

/* .password_button {
    text-align: center;
    width: 10rem;
    color: white;
    background-color: rebeccapurple;
} */
.password_check_form {
    padding-bottom: 2rem;
}

#password_button {
    color: white;
}

.password_button {
    text-align: center;
    width: 10rem;
}

.password_button, a.password_button:visited {
    border: 2px solid black;
    border-radius: 7px;
    padding: .3rem;
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px gray);
    background: rebeccapurple;
    color: white;
    font-size: 22px;
}

.password_button:hover {
    filter: drop-shadow(4px 4px 4px rebeccapurple);
}
