html {
    font-family: sans-serif; 
}

a, a:visited{
    color: rebeccapurple;

}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

input {
    font-family: sans-serif;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer p {
    justify-content: center;
}

#footer img {
    width: 3rem;
}

#contents {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contents p {
    max-width: 50rem;
}

.cta, a.cta:visited {
    border: 2px solid black;
    border-radius: 7px;
    padding: .3rem;
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px gray);
    background: rebeccapurple;
    color: white;
    font-size: 22px;
}

.cta:hover {
    filter: drop-shadow(4px 4px 4px rebeccapurple);

}

#signup_form {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#signup_form div {
    display: flex;
    flex-direction: row;
    margin: .1rem
}

#signup_form label {
    width: 10rem;
    display: block;
    text-align: right;
    padding: .3rem;
}

#signup_form input {
    width: 20rem;
    border: 2px solid black;
    border-radius: 7px;
}

#generated_url {
    display: block;
    width: 20rem;
    padding: .3rem;
}

#signup_form input.cta {
    margin-top: 2rem;
    width: auto;
}

.itemInput span {
    display: inline;
    /* padding-bottom: 2rem; */
}

.itemInput {
    border-style: solid;
    border-color: rebeccapurple;
    width: 30rem;
    border-radius: 5px;
    padding: 1rem;
}

.itemTextInput {
    border-radius: 5px;
    width: 29rem;
    height: 2rem;
    font-size: 1rem;
}

.inputContainer div {
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: large;
}

.inputContainer textarea {
    width: 29rem;
    height: 3rem;
}

.items_grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.item_box {
    border-style: solid;
    border-color: rebeccapurple;
    border-radius: 5px;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    width: 30rem;
    padding: 1rem;
    margin: 1rem;
    display: grid;
}

/* .item_box_form {
    align-self: end;
} */

.item_box_form {
    align-self: end;
}

/* .item_box_form:last-child {
    display: flex;                 
    align-items: flex-end;
} */

.item_box_name {
    font-size: 1.5rem;
    border-bottom: solid;
    border-color: rebeccapurple;
    padding-bottom: 0.5rem;
}
.item_box_name span {
    font-weight: bold;
}
.item_box_name img {
    height: 1.5rem;
    cursor: pointer;
}

.item_box_info {
    font-size: 1.3rem;
    /* border-bottom: solid;
    border-color: rebeccapurple; */
}
.item_box_info span {
    font-weight: bold;
}


.item_box_input {
    margin-top: 1rem;
    border-style: solid;
    border-color: rebeccapurple;
    width: 28.5rem;
    border-radius: 5px;
    padding: 0.5rem;
}

.item_box_grid {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 1rem;
}

.item_box_inputContainer input {
    width: 10rem;
}
.item_box_inputContainer textarea {
    width: 15rem;
    height: 3rem;
}

.item_box_cta {
    border: 2px solid black;
    border-radius: 7px;
    padding: .3rem;
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px gray);
    background: rebeccapurple;
    color: white;
    font-size: 12px;
}



.sub_item_box {
    border-style: solid;
    border-color: rebeccapurple;
    border-radius: 5px;
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    width: 25rem;
    padding: 1rem;
    margin: 1rem;
    display: grid;
}

/* .sub_item_box_form {
    align-self: end;
} */

.sub_item_box_form {
    align-self: end;
}

/* .sub_item_box_form:last-child {
    display: flex;                 
    align-sub_items: flex-end;
} */

.sub_item_box_name {
    font-size: 1.5rem;
    border-bottom: solid;
    border-color: rebeccapurple;
    padding-bottom: 0.5rem;
}
.sub_item_box_name span {
    font-weight: bold;
}
.sub_item_box_name img {
    height: 1.5rem;
    cursor: pointer;
}

.sub_item_box_info {
    font-size: 1.3rem;
    /* border-bottom: solid;
    border-color: rebeccapurple; */
}
.sub_item_box_info span {
    font-weight: bold;
}


.sub_item_box_input {
    margin-top: 1rem;
    border-style: solid;
    border-color: rebeccapurple;
    width: 23.5rem;
    border-radius: 5px;
    padding: 0.5rem;
}

.sub_item_box_grid {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 1rem;
}

.sub_item_box_inputContainer input {
    width: 8rem;
}
.sub_item_box_inputContainer textarea {
    width: 10rem;
    height: 3rem;
}

.sub_item_box_cta {
    border: 2px solid black;
    border-radius: 7px;
    padding: .3rem;
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px gray);
    background: rebeccapurple;
    color: white;
    font-size: 12px;
}