* {
    transform-origin: 0 0;
}

html {
    font-family: sans-serif; 
}

a, a:visited{
    color: rebeccapurple;
}

.modal-content {
    color: black;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.home_page_text_title {
    color: rebeccapurple;
    width: 100%;
}

.home_page_text_top {
    color: rebeccapurple;
    font-size: xx-large;
    margin-bottom: 0.5rem;
}
.home_page_text_bottom {
    color: rebeccapurple;
    width: 100%;
    margin-bottom: 1rem;
    font-size: x-large;
}
.home_page_text_bottom_link {
    color: black;
    font-size: x-large;
}
.home_page_text_bottom_link a:visited {
    color: black;
    font-size: x-large;
}

.home_page_text_bottom_extra {
    color: rebeccapurple;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    font-size: x-large;
}

input {
    font-family: sans-serif;
}

.party_page_header {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
}

.party_page_header h1{
    color: rebeccapurple;
    font-weight: bold;
}
.party_page_header h3{
    width: 100%;
    color: rebeccapurple;
    font-size: x-large;
}

.terms_list li {
    color: rebeccapurple;
    font-size: large;
    margin-left: 10px;
    list-style-type: circle;
    overflow-x: visible;
}

.footer {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer p {
    justify-content: center;
}

.footer img {
    width: 3rem;
}

.items_container {
    display: flex;
    justify-content: center;
    overflow-x: unset;
}

.items_grid {
    columns: 2 40rem;
    overflow-x: unset;
    column-gap: 3rem;
}

.contents {
    padding-bottom: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contents p {
    max-width: 50rem;
}

.button {
    overflow: visible;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
.button div {
    display: inline;
    margin: 1rem;
}

.button a {
    color: white;
    margin: 2rem;
    text-decoration: none;
    font-size: x-large;
}

.item_box_cta_login {
    border: 2px solid black;
    border-radius: 7px;
    padding: .6rem;
    padding-top: .8rem;
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px gray);
    background: rebeccapurple;
    color: white;
    font-size: 14px;
}

.item_box_cta_login:hover {
    filter: drop-shadow(4px 4px 4px rebeccapurple);
}


.cta {
    text-align: center;
    width: 10rem;
}

.cta, a.cta:visited {
    border: 2px solid black;
    border-radius: 7px;
    padding: .3rem;
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px gray);
    background: rebeccapurple;
    color: white;
    font-size: 22px;
}

.cta:hover {
    filter: drop-shadow(4px 4px 4px rebeccapurple);
}

.signup_banner {
    color: rebeccapurple;
    font-size: x-large;
    font-weight: bold;
}

.signup_form_containter {
    margin-bottom: 1rem;
    border-style: solid;
    border-color: rebeccapurple;
    padding: 2rem;
    border-radius: 7px;
}

.signup_form {
    margin-top: 1rem;
}

.signup_form div {
    display: flex;
    flex-direction: row;
    margin: 0.3rem;
    padding-bottom: 1rem;
}

.signup_form label {
    color: rebeccapurple;
    width: 10rem;
    display: block;
    text-align: left;
    padding: .3rem;
}

.signup_form input {
    width: 100%;
    border: 2px solid rebeccapurple;
    padding: 0.5rem;
    border-radius: 7px;
}
.signup_form span {
    width: 100%;
    border: 2px solid rebeccapurple;
    padding: 0.9rem;
    border-radius: 7px;
}

#generated_url {
    display: block;
    width: 100%;
    height: 1rem;
    padding: 0.5rem;
    text-align: left;
}

.input_outer_container {
    width: 30rem;
    margin-bottom: 2rem;
    padding-top: 6rem;
}

.item_input {
    border-style: solid;
    border-color: rebeccapurple;
    border-radius: 5px;
    padding: 1rem;
    margin-left: 1rem;
}

.item_text_input {
    border-radius: 5px;
    width: 98%;
    height: 2rem;
    font-size: 1rem;
}

.item_text {
    padding-top: 0.3rem;
    color: rebeccapurple;
    font-weight: bold;
    display: flex;
}

.item_text {
    text-transform: capitalize;
}

.input_container div {
    padding-bottom: 0.5rem;
    font-weight: bold;
    font-size: large;
    text-decoration-line: underline;
    color: rebeccapurple;
}

.input_container textarea {
    width: 98%;
    height: 3rem;
}

.item_box {
    width: 40rem;
    padding: 1rem;
    border-radius: 7px;
    border: rebeccapurple solid 2px;
    color: white;
    margin: 0 1rem 1rem 0;
    display: inline-block;
    font-family: system-ui;
}

.item_box_form {
    align-self: end;
}

.item_box_name {
    vertical-align: baseline;
    display: grid;
    grid-template-columns: auto auto minmax(2fr, 10%);
    column-gap: 2rem;
    justify-content:space-between; 
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 0.2rem;
}

.item_box_name span {
    color: rebeccapurple;
    font-weight: bold;
}
.item_box_name span:first-child {
    color: rebeccapurple;
}

.item_box_name img {
    height: 1.5rem;
    cursor: pointer;
}

.item_box_info {
    font-size: 1.0rem;
    padding-top: 0.2rem;
}
.item_box_info span {
    border-top: solid 1px rebeccapurple;
    padding-top: 0.2rem;
    font-weight: bold;
    color: rebeccapurple;

}


.item_box_input {
    height:3rem;
    border-style: solid;
    border-color: rebeccapurple;
    border-radius: 5px;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.item_box_grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    font-size: 1rem;
}

.item_box_item_text_input_name {
    width: 90%;
    margin-top: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.item_box_item_text_input_info {
    width: 96%;
    margin-top: 0.2rem;
    padding-top: 0.2rem;
    height: 2rem;
}

.item_box_cta {
    border: 1px solid black;
    border-radius: 7px;
    padding: .1rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    text-decoration: none;
    filter: drop-shadow(2px 2px 2px gray);
    background: rebeccapurple;
    color: white;
    font-size: 10px;
    margin-top: 0.1rem;
}

.item_box_cta:hover {
    filter: drop-shadow(4px 4px 4px rebeccapurple);
}

.item_box_inside_item {
    padding-left: 5rem;
}

.item_box_name_inside {
    display: grid;
    grid-template-columns: 1fr 2fr minmax(2fr, 10%);
    font-size: 1rem;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
}

.delete_img_indide img {
    vertical-align: top;
    height: 1.2rem;
    top: 10%;
}

.deleteImg {
    padding-top: 0.3rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
}

.padding {
    margin-left: 2rem;
    margin-bottom: 4rem;
    color: rebeccapurple;
}

#password_label {
    font-size: large;
    color: rebeccapurple;
    width: auto;
    text-align: left;
    padding: .3rem;
    vertical-align: text-bottom;
}

.password_form div {
    padding-bottom: 1rem;
    flex-direction: row;
    margin: 0.2rem;
    font-size: large;
}

#login_title {
    font-weight: bold;
    color: rebeccapurple;
    font-size: x-large;
}

.password_form label {
    width: 65%;
    display: block;
    text-align: left;
    padding: .3rem;
}

.password_form input {
    width: 100%;
    border: 2px solid rebeccapurple;
    border-radius: 7px;
    padding: 0.5rem;
}

#password_button {
    color: white;
}

.password_button {
    text-align: center;
    width: 10rem;
}

.password_button, a.password_button:visited {
    border: 2px solid black;
    border-radius: 7px;
    padding: .3rem;
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px gray);
    background: rebeccapurple;
    color: white;
    font-size: 22px;
}

.password_button:hover {
    filter: drop-shadow(4px 4px 4px rebeccapurple);
}

#password_label {
    font-size: large;
    color: rebeccapurple;
    width: auto;
    text-align: left;
    padding: .3rem;
    vertical-align: text-bottom;
}

.signup_form_container {
    margin-top: 1rem;
    margin-left: 1rem;
    height: 26rem;
    display: flex;
    border-style: solid;
    border-color: rebeccapurple;
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 0.5rem; 
}

.password_form {
    margin-top: 5rem;
    margin-left: 1rem;
    height: 16rem;
    display: flex;
    border-style: solid;
    border-color: rebeccapurple;
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
}

.password_check_form {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#password_button {
    color: white;
}

.password_button {
    text-align: center;
    width: 10rem;
}

.password_button, a.password_button:visited {
    border: 2px solid black;
    border-radius: 7px;
    padding: .3rem;
    text-decoration: none;
    filter: drop-shadow(4px 4px 4px gray);
    background: rebeccapurple;
    color: white;
    font-size: 22px;
}

.password_button:hover {
    filter: drop-shadow(4px 4px 4px rebeccapurple);
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: relative;
    overflow-x: unset;
}

li {
    list-style-type: none;
    border-left: 2px solid #000;
    overflow-x: unset;
}

li section {
    padding-left: 1em;
    position: relative;
    top: -0.5rem;
}

li section::before {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: -2px;
    width: 0.75em;
    border: 4px solid #000;
    border-right: 0 none transparent;
}

ul > li:last-child {
    border-left: 2px solid transparent;
}    

@media only screen and (max-width: 600px) {
    .party_page_header {
        text-align: center;
        display: grid;
        grid-template-columns: auto;
    }
    .input_outer_container {
        padding-top: 0rem;
        width: auto;
    }
    .items_grid {
        height: auto;
        display: grid;
        grid-template-columns: auto;
        column-gap: 1rem;
    }
    .contents {
        padding-bottom: auto;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .contents p {
        max-width: 50rem;
    }
    
    .button {
        overflow: visible;
        margin-top: 1rem;
        margin-bottom: 1rem;
    
    }
    .button div {
        display: inline;
    }
    
    .button a {
        color: white;
        margin: 2rem;
        text-decoration: none;
        font-size: x-large;
    }
    
    .item_box_cta_login {
        border: 2px solid black;
        border-radius: 7px;
        padding: .6rem;
        padding-top: .8rem;
        text-decoration: none;
        filter: drop-shadow(4px 4px 4px gray);
        background: rebeccapurple;
        color: white;
        font-size: 14px;
    }
    
    .item_box_cta_login:hover {
        filter: drop-shadow(4px 4px 4px rebeccapurple);
    }
    
    
    
    .cta {
        text-align: center;
        width: 10rem;
    }
    
    .cta, a.cta:visited {
        border: 2px solid black;
        border-radius: 7px;
        padding: .3rem;
        text-decoration: none;
        filter: drop-shadow(4px 4px 4px gray);
        background: rebeccapurple;
        color: white;
        font-size: 22px;
    }
    
    .cta:hover {
        filter: drop-shadow(4px 4px 4px rebeccapurple);
    }
    
    .signup_banner {
        color: rebeccapurple;
        font-size: x-large;
        font-weight: bold;
    }
    
    .signup_form_containter {
        margin-bottom: 1rem;
        border-style: solid;
        border-color: rebeccapurple;
        padding: 2rem;
        border-radius: 7px;
    }
    
    .signup_form {
        margin-top: 1rem;
    }
    
    .signup_form div {
        display: flex;
        flex-direction: row;
        margin: 0.3rem
    }
    
    .signup_form label {
        color: rebeccapurple;
        width: 10rem;
        display: block;
        text-align: left;
        padding: .3rem;
    }
    
    .signup_form input {
        width: 100%;
        border: 2px solid rebeccapurple;
        padding: 0.5rem;
        border-radius: 7px;
    }
    .signup_form span {
        width: 100%;
        border: 2px solid rebeccapurple;
        padding: 0.9rem;
        border-radius: 7px;
    }
    
    #generated_url {
        display: block;
        width: 100%;
        height: 1rem;
        padding: 0.5rem;
        text-align: left;
    }
    
    .input_outer_container {
        margin-bottom: 2rem;
    }
    
    .item_input {
        border-style: solid;
        border-color: rebeccapurple;
        border-radius: 5px;
        padding: 1rem;
    }
    
    .item_text_input {
        border-radius: 5px;
        width: 98%;
        height: 2rem;
        font-size: 1rem;
    }
    
    .item_text {
        padding-top: 0.1rem;
        color: rebeccapurple;
        font-weight: bold;
        display: flex;
    }
    
    .item_text {
        text-transform: capitalize;
    }
    
    .input_container div {
        padding-bottom: 0.5rem;
        font-weight: bold;
        font-size: large;
        text-decoration-line: underline;
        color: rebeccapurple;
    }
    
    .input_container textarea {
        width: 98%;
        height: 3rem;
    }
    
    .item_box {
        height: auto;
        padding-right: 1rem;
        border-style: solid;
        border-width: 7px;
        border-color: rebeccapurple;
        border-radius: 5px;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
    
    .item_box_form {
        align-self: end;
    }
    
    .item_box_name {
        vertical-align: baseline;
        display: grid;
        grid-template-columns: auto auto minmax(2fr, 10%);
        column-gap: 2rem;
        justify-content:space-between; 
        font-size: 1.5rem;
        padding-left: 1rem;
        padding-bottom: 0.2rem;
    }
    
    .item_box_name span {
        color: rebeccapurple;
        font-weight: bold;
    }
    .item_box_name span:first-child {
        color: rebeccapurple;
    }
    
    .item_box_name img {
        height: 1.5rem;
        cursor: pointer;
    }
    
    .item_box_info {
        font-size: 1.0rem;
        padding-top: 0.2rem;
    }
    .item_box_info span {
        border-top: solid 1px rebeccapurple;
        padding-top: 0.2rem;
        font-weight: bold;
        color: rebeccapurple;
    
    }
    
    
    .item_box_input {
        height:3rem;
        border-style: solid;
        border-color: rebeccapurple;
        border-radius: 5px;
        padding-left: 0.1rem;
        padding-right: 0.1rem;
    }
    
    .item_box_grid {
        display: grid;
        grid-template-columns: 2fr 2fr;
        font-size: 1rem;
    }
    
    .item_box_item_text_input_name {
        width: 90%;
        margin-top: 0.2rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }
    .item_box_item_text_input_info {
        width: 96%;
        margin-top: 0.2rem;
        padding-top: 0.2rem;
        height: 2rem;
    }
    
    .item_box_cta {
        border: 1px solid black;
        border-radius: 7px;
        padding: .1rem;
        padding-right: 0.2rem;
        padding-left: 0.2rem;
        text-decoration: none;
        filter: drop-shadow(2px 2px 2px gray);
        background: rebeccapurple;
        color: white;
        font-size: 10px;
        margin-top: 0.1rem;
    }
    
    .item_box_cta:hover {
        filter: drop-shadow(4px 4px 4px rebeccapurple);
    }
    
    .item_box_inside_item {
        padding-left: 5rem;
    }
    
    .item_box_name_inside {
        display: grid;
        grid-template-columns: 1fr 2fr minmax(2fr, 10%);
        font-size: 1rem;
        margin-top: 0.4rem;
        margin-bottom: 0.2rem;
    }
    
    .delete_img_indide img {
        vertical-align: top;
        height: 1.2rem;
        top: 10%;
    }
    
    .deleteImg {
        padding-top: 0.3rem;
        padding-right: 0.2rem;
        padding-left: 0.2rem;
    }
    
    .padding {
        margin-left: 2rem;
        margin-bottom: 4rem;
        color: rebeccapurple;
    }
    
    #password_label {
        font-size: large;
        color: rebeccapurple;
        width: auto;
        text-align: left;
        padding: .3rem;
        vertical-align: text-bottom;
    }
    
    .password_form div {
        display: flex;
        flex-direction: row;
        margin: 0.2rem;
        font-size: large;
    }
    
    #login_title {
        font-weight: bold;
        color: rebeccapurple;
        font-size: x-large;
    }
    
    .password_form label {
        width: 65%;
        display: block;
        text-align: left;
        padding: .3rem;
    }
    
    .password_form input {
        width: 100%;
        border: 2px solid rebeccapurple;
        border-radius: 7px;
        padding: 0.5rem;
    }
    .password_form div {
        padding-bottom: 1rem;
    }
    
    #password_button {
        color: white;
    }
    
    .password_button {
        text-align: center;
        width: 10rem;
    }
    
    .password_button, a.password_button:visited {
        border: 2px solid black;
        border-radius: 7px;
        padding: .3rem;
        text-decoration: none;
        filter: drop-shadow(4px 4px 4px gray);
        background: rebeccapurple;
        color: white;
        font-size: 22px;
    }
    
    .password_button:hover {
        filter: drop-shadow(4px 4px 4px rebeccapurple);
    }
    
    #password_label {
        font-size: large;
        color: rebeccapurple;
        width: auto;
        text-align: left;
        padding: .3rem;
        vertical-align: text-bottom;
    }
    
    
    .password_form {
        display: flex;
        border-style: solid;
        border-color: rebeccapurple;
        border-radius: 10px;
        padding: 0.5rem 1rem 0.5rem 0.5rem;
    }
    
    .password_check_form {
        padding-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #password_button {
        color: white;
    }
    
    .password_button {
        text-align: center;
        width: 10rem;
    }
    
    .password_button, a.password_button:visited {
        border: 2px solid black;
        border-radius: 7px;
        padding: .3rem;
        text-decoration: none;
        filter: drop-shadow(4px 4px 4px gray);
        background: rebeccapurple;
        color: white;
        font-size: 22px;
    }
    
    .password_button:hover {
        filter: drop-shadow(4px 4px 4px rebeccapurple);
    }
    
    
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        position: relative;
        overflow-x: unset;
    }
    
    li {
        list-style-type: none;
        border-left: 2px solid #000;
        overflow-x: unset;
    }
    
    li section {
        padding-left: 1em;
        position: relative;
        top: -0.5rem;
    }
    
    li section::before {
        content: '';
        position: absolute;
        top: 0.5rem;
        left: -2px;
        width: 0.75em;
        border: 4px solid #000;
        border-right: 0 none transparent;
    }
    
    ul > li:last-child {
        border-left: 2px solid transparent;
    }    
}
