{% extends "base.html" %}
{% block title %} Bag of Party {% endblock %}
{% block content %}
    <img src="/static/images/bag_of_party_logo.png" />
    <h1>Bag of Party</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In efficitur elit vitae sem eleifend interdum. In rhoncus sed magna ac eleifend. In a nulla ut justo ultricies placerat. Morbi mattis augue ac turpis lobortis elementum quis vitae arcu. Etiam vestibulum justo sapien, ut pulvinar nulla scelerisque eget. Suspendisse ut blandit metus. Aenean pretium, leo ut mattis faucibus, lorem lacus fermentum lorem, ac pharetra eros neque non orci. Sed ac consectetur eros. Proin libero leo, pellentesque id consectetur ac, semper ut urna. Mauris pellentesque, sapien vitae viverra mollis, sapien nulla molestie ipsum, sit amet pulvinar ante elit a arcu. Nullam lorem nisl, laoreet quis erat ut, porttitor lacinia ligula. Ut rutrum elit nec leo efficitur, at porttitor justo laoreet. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="button">
        <div class="item_box_cta_login"><a href="/signup">Sign up?</a></div>
        <div class="item_box_cta_login"><a href="/login">Log-In?</a></div>
    </div>
{% endblock %}