<div class="item_box">
  <div class="item_box_name">Item name: <span>{{ item.name }}</span><a href="?delete={{ item.id }}"><img alt="bin" src="/static/images/icons/bin.png" /></a></div>
  <div class="item_box_info">Item Info: <span>{{ item.info }}</span></div>
  <div class="item_box_form">
      <form class="item_box_input" method="POST">
          <div class="item_box_grid">
              <span class="item_box_inputContainer">
                  <div>
                      <input type="hidden" name="container_id" value="{{ item.id }}" />
                      <label>Item Name</label>
                  </div>
                  <div>
                      <input class="item_box_itemTextInput" placeholder="Enter Item Name" maxlength="25" type="text" name="add_item"/>
                  </div>
                  <span class="inputContainer">
                      <input class="item_box_cta" type="submit" maxlength="20" value="Add Item">
                  </span>
              </span>
              <span class="item_box_inputContainer">
                  <div>
                      <label>Item Info</label>
                  </div>
                  <div>
                      <textarea class="item_box_itemTextInput" placeholder="Enter Description" rows="3" cols="20" maxlength="200" name="add_item_info"></textarea>
                  </div>
              </span>
          </div>
      </form>
      {% for item in item.contents %}
        {% include 'item.html' %}
      {% endfor %}
  </div>
</div>
