{% extends "base.html" %}
{% block title %} Bag of Party {% endblock %}
{% block content %}
    <img src="/static/images/bag_of_party_logo.png" />
    {% for item in data %}
        <h1>Welcome {{item[1]}}</h1>
    {% endfor %}
    <br />
    <h3>Please view and add Items below</h3>
    <br />
    <form class="add_item" method="POST">
        <div class="itemInput">
            <span class="inputContainer">
                <div>
                    <label>Item Name</label>
                </div>
                <div>
                    <input class="itemTextInput" placeholder="Enter Item Name" maxlength="20" type="text" name="add_item"/>
                </div>
            </span>
            <span class="inputContainer">
                <div>
                    <label>Item Info</label>
                </div>
                <div>
                    <textarea class="itemTextInput" placeholder="Enter Description" rows="10" cols="20" maxlength="200" name="add_item_info"></textarea>
                </div>
            </span>
            <span class="inputContainer">
                <input class="cta" type="submit" maxlength="20" value="Add Item">
            </span>
        </div>
    </form>

    <div>
        {% for item in page_items %}
        <div class="item_box">
            <div class="item_box_name">Item name: <span>{{ item[2] }}</span></div>
            <div class="item_box_info">Item Info: <span>{{ item[3] }}</span></div>
            <form class="item_box_input" method="POST">
                <div class="item_box_grid">
                    <span class="item_box_inputContainer">
                        <div>
                            <label>Item Name</label>
                        </div>
                        <div>
                            <input class="item_box_itemTextInput" placeholder="Enter Item Name" maxlength="25" type="text" name="add_item"/>
                        </div>
                        <span class="inputContainer">
                            <input class="item_box_cta" type="submit" maxlength="20" value="Add Item">
                        </span>
                    </span>
                    <span class="item_box_inputContainer">
                        <div>
                            <label>Item Info</label>
                        </div>
                        <div>
                            <textarea class="item_box_itemTextInput" placeholder="Enter Description" rows="3" cols="20" maxlength="200" name="add_item_info"></textarea>
                        </div>
                    </span>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>

{% endblock %}