{% extends "base.html" %}
{% block title %} Bag of Party {% endblock %}
{% block content %} partypage 
    <img src="/static/images/bag_of_party_logo.png" />
    {% for item in data %}
    <tr>
        <td>{{item[0]}}</td>
        <td>{{item[1]}}</td>
        <td>{{item[2]}}</td>
    </tr>
    {% endfor %}
    <br />
    <h3>Items lsited below</h3>
    <br />
    <form id="add_item" method="POST">
        <div>
            <input type="text" name="item" id="item"/>
        </div>
        <div>

        </div>
    </form>
{% endblock %}