{% extends "base.html" %}
{% block title %} Bag of Party {% endblock %}
{% block scripts %}
    <script language="JavaScript">
        function showInput() {
            function letter() {
            var randLetter = String.fromCharCode(97+Math.floor(Math.random() * 26));
            return randLetter;
            }
            function number() {
            randNumber = Math.floor(Math.random() * 10);
            return randNumber;
            }
            input = document.getElementById("user_input").value;
            var  prefix = number() + letter() + number() + letter() 
            var baseUrl = "https://bagof.party/"
            var slug = input.toLowerCase().replace(/[^a-z0-9]+/g, '-');
            document.getElementById('generated_url').innerHTML = baseUrl + '/' + prefix + '/' + slug;
            document.getElementById('generated_url_field').value = prefix + '/' + slug;
        }
    </script>
{% endblock %}
{% block content %}
    <form id="signup_form" method="POST">
        <div>
            <label>Party Name: </label>
            <input type="text" name="party_name" id="user_input" oninput="showInput()" />
        </div>
        <div>
            <label>Generated URL: </label>
            <span name="url"  id="generated_url"></span>
            <input type="hidden" id="generated_url_field" name="generated_url" />
        </div>
        <div>
            <label>User Email: </label>
            <input type="text" name="user_email" />
        </div>
        <div>
            <label>Party Password: </label>
            <input type="text" name="party_password" />
        </div>
        <div>
            <input class="cta" type="submit" value="Sign up?">
        </div>
    </form>
{% endblock %}