{% extends "base.html" %}
{% block title %} Bag of Party {% endblock %}
{% block content %}
    <img src="/static/images/bag_of_party_logo.png" />
    <h1 class="home_page_text_title ">Bag of Party Info and Contact Details</h1>
    <p class="home_page_text_top">This is a non for profit app designed to allow users to store imaginary containers and objects</p>
    <p class="home_page_text_bottom">If you have any questions please message up at Bagofparty@gmail.com. If you have any questions about passwords, current or old accounts please email us but please be aware it may take a few days to reply.</p>
    <div class="home_page_text_bottom_extra">
      <span>Find terms and conditions, licencing and Privacy info below </span>
      <span>Use the buttons below and continue on and Sign-up or Log-in</span>
    </div>
    <div class="button">
        <div class="item_box_cta_login"><a href="/signup">Sign up?</a></div>
        <div class="item_box_cta_login"><a href="/login">Log-In?</a></div>
    </div>
{% endblock %}