{% extends "base.html" %}
{% block title %} Bag of Party {% endblock %}
{% block content %}
    <img src="/static/images/bag_of_party_logo.png" />
    <center><h1 class="homePageTextTitle">Bag of Party Info and Contact Details</h1></center>
    <center><p class="homePageTextTop">This is a non for profit app designed to allow users to store imaginary containers and objects</p></center>
    <center><p class="homePageTextBottom">If you have any questions please message up at Bagofparty@gmail.com. If you have any questions about passwords, current or old accounts please email us but please be aware it may take a few days to reply.</p></center>
    <div class="homePageTextBottomExtra">
      <center><span>Find terms and conditions, licencing and Privacy info below </span></center>
      <center><span>Use the buttons below and continue on and Sign-up or Log-in</span></center>
    </div>
    <div class="button">
        <div class="item_box_cta_login"><a href="/signup">Sign up?</a></div>
        <div class="item_box_cta_login"><a href="/login">Log-In?</a></div>
    </div>
{% endblock %}