{% extends "base.html" %}
{% block title %} Bag of Party {% endblock %}
{% block content %}
    <img src="/static/images/bag_of_party_logo.png" />
    <center><h1 class="homePageTextTitle">Bag of Party</h1></center>
    <center><p class="home_page_text_top">Hello and Welcome to Bag of Party A safe place to store any Important Imaginary Personal Belongings</p></center>
    <center><p class="home_page_text_bottom">Please feel free to sign up for a free account. You will choose a secret Name and a Password which you need to share with any users you wish to allow access. Feel free to <a class="home_page_text_bottom_link" href="/contact">Contact</a> us if you have any questions.</p></center>
    <div class="button">
        <div class="item_box_cta_login"><a href="/signup">Sign up?</a></div>
        <div class="item_box_cta_login"><a href="/login">Log-In?</a></div>
    </div>
{% endblock %}