{% extends "base.html" %}
{% block title %} Bag of Party {% endblock %}
{% block content %}
    <img src="/static/images/bag_of_party_logo.png" />
    <h1 class="homePageTextTitle">Bag of Party</h1>
    <div>
        <p class="home_page_text_top text_center">Hello and Welcome to Bag of Party</p>
        <p class="home_page_text_top text_center">A safe place to store any Important Imaginary Personal Belongings</p>
    </div>
    <p class="home_page_text_bottom text_center">Please feel free to sign up for a free account. Enter an Email and Password, You and any group members will need these details so keep them safe. Feel free to <a class="home_page_text_bottom_link" href="/contact">Contact</a> us if you have any questions.</p>
    <div class="button"> 
        <div class="item_box_cta_login"><a class="large_font" href="/signup">Sign up?</a></div>
        <div class="item_box_cta_login"><a class="large_font" href="/login">Log-In?</a></div>
    </div>
{% endblock %}