{% block scripts %}
  <script>
    $('#exampleModal').on('show.bs.modal', function (event) {
      recipient = null
      var button = $(event.relatedTarget)
      var recipient = button.data('whatever')
      var modal = $(this)
      modal.find('.modal-body input').val(recipient)
      console.log(recipient);
      $('#login_button2').click(function(){ 
                container = null;
                itemName = null;
                infoDetails = null;
                console.log("CLICKED");
                console.log(itemName);
                console.log(infoDetails);
                console.log(container);
                var itemName = $('#itemName').val();  
                var infoDetails = $('#infoDetails').val();
                var container = $('input[type=hidden]').val();
                console.log("POST INFO CLICKED");
                console.log(itemName);
                console.log(infoDetails);
                console.log(container);
                if(itemName != '' && infoDetails != '')  
                {  
                    $.ajax({  
                            url:"/action",  
                            method:"POST",  
                            data: {itemName:itemName, infoDetails:infoDetails, container:container},  
                            success:function(data)  
                            {  
                                if(data == 'No-data')  
                                {  
                                    alert("Invalid Input");  
                                }   
                                else
                                {  
                                    $('#loginModal').hide();
                                    itemName = null;
                                    infoDetails = null;
                                    container = null;
                                    location.reload();  
                                }  
                            }  
                    });  
                }  
                else
                {  
                    alert("Both Fields are required");  
                }  
            });    
    })
  </script>
{% endblock %}
<div class="item_box_name_inside">
  <div>
    <div class="item_text">
      <div class="item_text_title_inside">
          <span>
            {{ item.name }}
            <a href="?delete={{ item.id }}" class="deleteImg"><img alt="bin" src="/static/images/icons/bin.png" /></a>
          </span>
      </div>
      {% include 'modal.html' %}
  </div>
  </div>
  <div class="item_box_info_inside"><span class="item_text">{{ item.info }}</span></div>
</div>
<ul>
  {% for item in item.contents %}
  <li>
    <section>
      {% include 'insideItem.html' %}
    </section>
  </li>
  {% endfor %}
</ul>
