
<div class="item_box">
    <ul class="tree">
            <div class="item_box_name">
                <div>
                    <div class="item_text">
                      <span class="item_text_title">
                        <span>
                          {{ item.name }}<a href="?delete={{ item.id }}" class="deleteImg"><img alt="bin" src="/static/images/icons/bin.png" /></a>
                        </span>
                        {{ item.id }}
                      </span>
                        {% include 'modal.html' %}
                    </div>
                </div>
                <div class="item_box_info"><span class="item_text">{{ item.info }}</span> </div>
            </div>
                {% for item in item.contents %}
                <li>
                    <section>
                        {% include 'insideItem.html' %}
                    </section>
                {% endfor %}
                </li>
            </ul>
        </li>
    </ul>

</div>
