{% extends "base.html" %}
{% block title %} Bag of Party {% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>  
        $(document).ready(function(){  
            $('#login_button').click(function(){  
                var itemName = $('#itemName').val();  
                var infoDetails = $('#infoDetails').val();
                var container_id = $('input[type=hidden]').val();
                if(itemName != '' && infoDetails != '')  
                {  
                    $.ajax({  
                            url:"/action",  
                            method:"POST",  
                            data: {itemName:itemName, infoDetails:infoDetails, container_id:container_id},  
                            success:function(data)  
                            {  
                                alert(data);  
                                if(data == 'No-data')  
                                {  
                                    alert("Invalid Email Or Password!");  
                                }   
                                else
                                {  
                                    $('#loginModal').hide();  
                                    location.reload();  
                                }  
                            }  
                    });  
                }  
                else
                {  
                    alert("Both Fields are required");  
                }  
            });    
        });  
    </script> 
{% endblock %}
{% block content %}
    <div class="party_page_header">
        <div>
            <img src="/static/images/bag_of_party_logo.png" />
            <h1>Welcome {{data.name}}</h1>
            <br />
            <h1>Please view and add Items</h3>
            <br />
        </div>
        <div class="input_outer_container">
            <form class="add_item" method="POST">
                <div class="item_input">
                    <span class="input_container">
                        <div>
                            <label>Name or Type of Object</label>
                        </div>
                        <div>
                            <input class="item_text_input" placeholder="Enter Item Name" maxlength="20" type="text" name="add_item"/>
                        </div>
                    </span>
                    <span class="input_container">
                        <div>
                            <label>Description or Info on Object</label>
                        </div>
                        <div>
                            <textarea class="item_text_input" placeholder="Enter Description" rows="10" cols="20" maxlength="200" name="add_item_info"></textarea>
                        </div>
                    </span>
                    <span class="input_container">
                        <input class="cta" type="submit" maxlength="20" value="Add Item">
                    </span>
                </div>
            </form>
        </div>
    </div>
    <!-- <div class="container" style="width:700px;">   
        <div>  
             <a data-target="#myModal" role="button" class="btn btn-warning" data-toggle="modal"><span class="glyphicon glyphicon-hand-up"></span>Login</a>
        </div>  
   </div>  
   <br />  
      
    <div id="myModal" class="modal fade">  
    <div class="modal-dialog">  
    <!-- Modal content-->  
    <!-- <div class="modal-content">  
            <div class="modal-header">  
                <button type="button" class="close" data-dismiss="modal">×</button>  
                <h4 class="modal-title">Login Form Using Bootstrap Modal using Python Flask jquery Ajax password hash and session</h4>  
            </div>  
            <div class="modal-body">  
                <label>Username</label>  
                <input type="text" name="username" id="username" class="form-control" />  
                <br />  
                <label>Password</label>  
                <input type="password" name="password" id="password" class="form-control" />  
                <br />  
                <button type="button" name="login_button" id="login_button" class="btn btn-warning">Login</button>  
            </div>  
    </div>  
    </div>  
    </div>   --> 
    <div class="items_container">
        <div class="items_grid">
            {% for item in root_items %}
                {% include 'item.html' %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
