{% extends "base.html" %}
{% block title %} Bag of Party {% endblock %}
{% block content_header %}
    <div class="party_page_header">
        <div class="title_logo_box text_center">
            <div class="image_center">
                <img src="/static/images/bag_of_party_logo.png" />
            </div>
            <br />
            <p>Welcome back {{data.name}}</p>
            <p>Add You Important Imaginary Itmes Here!!</p>
            <br />
            <br />
            <p class="text_center">
                <span class="item_box_cta_login button"><a class="large_font" href="/login">Log-Out?</a></span>
            </p>
        </div>
        <div class="input_outer_container">
            <form class="add_item" method="POST">
                <div class="item_input">
                    <!-- <span>
                        <p>Group Details:</p>
                        <p>Name: ({{ data.name }}) Email: ({{ data.email }})</p>
                    </span> -->
                    <span class="input_container">
                        <div>
                            <label>Name or Type of Object</label>
                        </div>
                        <div>
                            <input class="item_text_input" placeholder="Enter Item Name" maxlength="20" type="text" name="add_item"/>
                        </div>
                    </span>
                    <span class="input_container">
                        <div>
                            <label>Description or Info on Object</label>
                        </div>
                        <div>
                            <textarea class="item_text_input_textarea" placeholder="Enter Description" rows="20" cols="20" maxlength="250" name="add_item_info"></textarea>
                        </div>
                    </span>
                    <span class="input_container large_font">
                        <input class="cta_add large_font" type="submit" maxlength="20" value="Add Item">
                    </span>
                </div>
            </form>
        </div>
        <div class="item_list_container">
            <!-- <form class="add_item" method="POST"> -->
            <div class="">
                <span>
                    <u class="lable">Group Details</u>
                    <p>Group Name: {{ data.name }}</p>
                    <p>Group Email: {{ data.email }}</p>
                </span>
                <u class="lable">List of items:</u>
                <div class="items_list_grid">
                    {% for item in names %}
                        <ul>{{ item }}</ul>
                    {% endfor %} 
                </div>  
            </div>
            <!-- </form> -->
        </div>
        
    </div>
{% endblock %}
{% block content %}
    <div class="items_container">
        <div class="items_grid">
            <div class="container">
                <div class="wrap">
                    <!-- <h1>Pure <span>CSS</span> Modal Popup</h1> -->
                
                </div>
                <!--End of Wrap -->
                
                
                <!--Start of Modal -->
                <!-- <div class="modal">
                    <input id="modal__trigger" type="checkbox" />
                    <label for="modal__trigger">Launch Modal</label>
                    <div class="modal__overlay" role="dialog" aria-labelledby="modal__title" aria-describedby="modal_desc">
                        <div class="modal__wrap">
                            <label for="modal__trigger">&#10006;</label>
                            <h2 id="modal__title">This is your modal content</h2>
                            <p id="modal__desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac laoreet elit. Phasellus dignissim purus vitae urna cursus, quis congue ligula tristique. Ut nec blandit risus. Donec at orci ut justo venenatis viverra. Suspendisse in volutpat lacus. In enim est, dapibus eget ipsum sed, suscipit ultrices diam.</p>
                        </div>
                    </div>
                </div> -->
            {% for item in root_items %}
                {% include 'item.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
