{% extends "base.html" %}
{% block title %} Bag of Party {% endblock %}
{% block content_header %}
    <div class="party_page_header">
        <div class="title_logo_box text_center">
            <div class="image_center">
                <img src="/static/images/bag_of_party_logo.png" />
            </div>
            <br />
            <p>Welcome back {{data.name}}</p>
            <p>Add You Important Imaginary Itmes Here!!</p>
            <br />
            <br />
            <p class="text_center">
                <span class="item_box_cta_login button"><a class="large_font" href="/login">Log-Out?</a></span>
            </p>
        </div>
        <div class="input_outer_container">
            <form class="add_item" method="POST">
                <div class="item_input">
                    <span class="input_container">
                        <div>
                            <label>Name or Type of Object</label>
                        </div>
                        <div>
                            <input class="item_text_input" placeholder="Enter Item Name" maxlength="20" type="text" name="add_item"/>
                        </div>
                    </span>
                    <span class="input_container">
                        <div>
                            <label>Description or Info on Object</label>
                        </div>
                        <div>
                            <textarea class="item_text_input_textarea" placeholder="Enter Description" rows="20" cols="20" maxlength="250" name="add_item_info"></textarea>
                        </div>
                    </span>
                    <span class="input_container large_font">
                        <input class="cta_add large_font" type="submit" maxlength="20" value="Add Item">
                    </span>
                </div>
            </form>
        </div>
        <div class="item_list_container">
            <!-- <form class="add_item" method="POST"> -->
            <div class="">
                <span>
                    <u class="lable">Group Details</u>
                    <p>Group Name: {{ data.name }}</p>
                    <p>Group Email: {{ data.email }}</p>
                </span>
                <u class="lable">List of items:</u>
                <div class="items_list_grid">
                    {% for item in names %}
                        <ul>{{ item }}</ul>
                    {% endfor %} 
                </div>  
            </div>
            <!-- </form> -->
        </div>
        
    </div>
{% endblock %}
{% block content %}
    <div class="items_container">
        <div class="items_grid">
            <div class="container">
                <a href="#modal-opened" class="link-1" id="modal-closed">Open Modal</a>

                <div class="modal-container" id="modal-opened">
                <div class="modal">

                    <div class="modal__details">
                    <h1 class="modal__title">Modal Title</h1>
                    <p class="modal__description">Sentence that will tell user what this modal is for or something.</p>
                    </div>

                    <p class="modal__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ex dicta maiores libero minus obcaecati iste optio, eius labore repellendus.</p>

                    <button class="modal__btn">Button &rarr;</button>

                    <a href="#modal-closed" class="link-2"></a>

                </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
