{% extends "base.html" %}
{% block title %} Bag of Party {% endblock %}
{% block content %}
    <img src="/static/images/bag_of_party_logo.png" />
    {% for item in data %}
        <h1>Welcome {{item[1]}}</h1>
    {% endfor %}
    <br />
    <h3>Please enter password below</h3>
    <br />
    <form id="add_item" method="POST">
        <div class="itemInput">
            <span>
                <input class="itemTextInput" type="text" name="password"/>
            </span>
            <span>
                <input class="cta" type="submit" maxlength="20" value="Password">
            </span>
        </div>
    </form>

{% endblock %}