{% extends "base.html" %}
{% block title %} Bag of Party {% endblock %}
{% block content %}
    <img src="/static/images/bag_of_party_logo.png" />
    <center><h1 class="homePageTextTitle">Bag of Party Terms and Conditions</h1></center>
    <center><p class="homePageTextTop">This is a free app to use however we reserve the right to remove any user without giving reasons.</p></center>
    <center><p class="homePageTextBottom">Some reasons may include inappropriate language such as any text that may be considered derogatory or unpleasant towards any group of people or users. Please find more info below and in Licensing</p></center>
    <ul class="termsList">
        <li>Storing information that is not considered in line with the applications goals</li>
        <li>Use of offensice or inappropriate language</li>
        <li>Attempts to conect to loot pages that are not yours</li>
        <li>Please see our Licencing for any information on using the application else where</li>
    </ul>
    <center><p class="homePageTextBottom">If you find your account removed please contact us via the <a class="homePageTextBottomLink" href="/contact">Contact</a> Page</p></center>
    <div class="homePageTextBottomExtra">
      <center><span>Use the buttons below and continue on and Sign-up or Log-in</span></center>
    </div>
    <div class="button">
        <div class="item_box_cta_login"><a href="/signup">Sign up?</a></div>
        <div class="item_box_cta_login"><a href="/login">Log-In?</a></div>
    </div>
{% endblock %}